:root{
    --main-color: #ffe209;
    --main-background-color: linear-gradient(120deg, #ffe209,#0000ff)
}

#map { height: 800px; }

html {
    margin: 30;
    padding: 20px;
    background-color: black;
}
h1 {
    display: flex;
}
input.text {
    display: flex;
}

.col {

}
html, body{
    text-align: center;
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
font-weight: normal;
    background: linear-gradient(120deg, #0000ff,red)
}

h1, table {
    size: 2rem;
    margin: 20px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: thin;
    border-color: black;
    background: var(--main-background-color);

}

button, select {
    background-color: linear-gradient(90deg, #ffe209,#0000ff);
    border-radius: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.4rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
}

input {
    border-color: var(--main-color);
    border-radius: 0.5rem;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

img {
    height: 70px;
}

#current-icon{
    height: 150px;
    float: left;
    margin: 30px;
}
#temperature{
    font-size: 40px;
    text-align: left;
    vertical-align:middle;
}
#city, #country{
    display: flex;
}

table{
    max-width: 500px;
    padding-top: 10px;
    border-top: 10%;
    border-top-color: aqua;
    padding-bottom: 10px;
    margin: 0 auto;
    background-color: aliceblue;
}

tr {
    height: 1.5rem;
}

th {
    width: 8rem;
    font-family: 'Courier New', Courier, monospace;
}

td {
    text-align: center;
}
.card-div {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: thin;
    border-color: black;

}

.daily-f-card-div {
    background-color: var(--main-color);
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: thin;
    border-color: black;

}

#map {
    border-radius: 10px;
}
