:root {
    --main-color: #f0e06dd8;
    --main-background-color: linear-gradient(45deg, #e0a70b 40%, #47a3ce);
    --card-background: rgba(54, 38, 38, 0.5);
    --main-border-color: #000000ff;
    --main-margin: 10px;
    --main-border-radius: 25px;
    --main-padding: 10px
}

/*Values that are common for all screens, most importantly mobile phones*/

#map {
    height: 800px;
}

html {
    margin: 30;
    padding: var(--main-padding);
    background-color: black;
}

h1 {
    display: inline-flex;
}

input.text {
    display: flex;
}

#header-div {
    background: var(--main-background-color);

}

html,
body {
    text-align: center;
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: normal;
    max-width: auto;
    background: var(--main-background-color);
}

footer {
    background-color: #000000;
}

main div {
    padding: var(--main-padding);
}

h1,
table {
    size: 2rem;
    margin: 20px;
    border-radius: var(--main-border-radius);
    border: thin;
    border-color: black;

}

button,
select {
    background-color: rgb(204, 255, 245);
    border-radius: var(--main-border-radius);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.4rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
}

button:hover, select:hover {
    background-color: #f0e06dd8;
}

input {
    border-color: var(--main-color);
    border-radius: var(--main-border-radius);
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}


#current-icon {
    height: 150px;
    float: left;
    margin: 30px;
}

#temperature {
    font-size: 40px;
    text-align: left;
    vertical-align: middle;
}

#city,
#country {
    display: flex;
}
.card-div {
    background-color: var(--card-background);
    border-radius: var(--main-border-radius);
    margin: 10px;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    border: thin;
    border-color: black;
}

#current-icon

/*Source: https://github.com/AsmrProg-YT/100-days-of-javascript/blob/master/Day%20%2310%20-%20Weather%20App/style.css */
#weather-summary{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#weather-summary #wind-speed, .weather-summary #humidity, .weather-summary #pressure{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
#weather-summary #humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

#weather-summary #wind-speed{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-summary i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

#weather-summary span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

#weather-summary p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}


.daily-f-card-div {
    background-color: var(--main-color);
    border-radius: var(--main-border-radius);
    margin: 0px 0px 10px 0px;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    border: thin;
    border-color: black;

}

#map {
    border-radius: var(--main-border-radius);
}

#hourly-chart {
    margin: 0;
}

.page-icon {
    height: 70px;
}

#current-icon {
    height: 150px;
    margin: 50px;
    align-items: center;
}
.daily-icon {
    height: 80px;
}


.sunny {
    background-color: linear-gradient(130deg, #47e8eed8, orange);

}

.hot-sunny {
    background-color: linear-gradient(130deg, orange, red);
}

.sunny-rainy {

}

.hot-rainy {}

.rainy-cloudy {
    background-color: linear-gradient(130deg, #abceeb, rgb(93, 175, 243));
}

.cloudy {
    background-color: linear-gradient(130deg, #abceeb, rgb(138, 176, 207));
}

.snowy {
    background-color: linear-gradient(130deg, #abceeb, rgb(231, 237, 241));
}

.stormy {
    background-color: linear-gradient(130deg, #577496, rgb(138, 176, 207));
}


@media (min-width: 480px) {
    /*Layout or tablets*/

}

@media (min-width: 1100px) {
    /*Layout for desktops*/
    
}