:root {
    --main-color: #f0e06dd8;
    --main-background-color: linear-gradient(45deg, #4b4330, #47a3ce, #f4f8b4);
    --card-background-light: rgba(255, 255, 255, var(--main-opacity));
    --card-background-dark: rgba(0, 0, 0, var(--main-opacity));
    --main-opacity: 0.4;
    --main-border-color: #000000ff;
    --main-margin: 10px;
    --main-border-radius: 35px;
    --main-padding: 10px;
    --basic-font-size: 20px;
}

/*Values that are common for all screens, most importantly mobile phones*/

#map {
    height: 400px;
}


h1 {
    display: inline-flex;
}

sup {
    font-size: 0.6em;
    vertical-align: super;
}

input.text {
    display: flex;
}

#header-div {
    background: var(--main-background-color);

}

html {
    padding: var(--main-padding);
    background-color: black;
    font-size: var(--basic-font-size);
}

html,
body {
    text-align: center;
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: normal;
    background: var(--main-background-color);
}

footer {
    background-color: #000000;
}

main div {
    padding: var(--main-padding);
}

/* For dragging button
button {
    cursor: grab;
    z-index: 1000;
}
    */

button,
select {
    background-color: rgb(204, 255, 245);
    border-radius: var(--main-border-radius);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--basic-font-size);
    margin: auto
}

div p {
    font-size: var(--basic-font-size);
}


button,
select,
input,
p,
h1,
img {
    transition: all 0.4s;
    font-size: var(--basic-font-size);
}

button:hover,
select:hover,
input:hover,
p:hover,
h1:hover,
img:hover {
    transform: scale(1.1);
}

input {
    border-color: var(--main-color);
    border-radius: var(--main-border-radius);
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}


#temperature {
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}



.animate-change {
    transition: all 0.4s;
}

.card-div {
    background-color: var(--card-background-light);
    border-radius: var(--main-border-radius);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    border: thin;
    border-color: black;
    transition: all 0.4s;
}

.transparent {
    background-color: transparent;
}

#select-metrics {
    margin-right: 0px;
    position: relative;
}


.card-div:hover {
    transform: scale(1.008);
}


button,
select {
    background: linear-gradient(20deg, #3b6294 20%, rgb(57, 144, 216));
    border-color: #06283D;
    margin: 5px;
}

input {
    border-color: #06283D;
    background: #06283D;
    opacity: 0.8;
    color: white;
    padding: 10px;
}

/*Source: https://github.com/AsmrProg-YT/100-days-of-javascript/blob/master/Day%20%2310%20-%20Weather%20App/style.css */
#weather-summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#weather-summary #wind-speed,
.weather-summary #humidity,
.weather-summary #pressure {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

#weather-summary #humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

#weather-summary #wind-speed {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-summary i {
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

#weather-summary span {
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

#weather-summary p {
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}


.daily-f-card-div {
    background-color: var(--main-color);
    border-radius: var(--main-border-radius);
    margin-top: 15px;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    border: thin;
    border-color: black;
}

#chart-container-div {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}

#hourly-chart {
    flex: 0 0 auto;
    fill: white;
    margin: 0;
}

#map {
    border-radius: var(--main-border-radius);
}

.page-icon {
    height: 70px;
}

#current-icon {
    height: 150px;
    margin: auto;
    align-items: center;
}

.daily-icon {
    height: 80px;
    align-items: left;
}

.daily-f-card-div {
    background: linear-gradient(20deg, #8ebadd 20%, rgb(57, 144, 216));
}

.test {
    padding: 50px;
    background: #47a3ce;
}

.sunny {
    background: linear-gradient(27deg, rgb(245, 243, 114) 60%, #8cd5ebd8);
    color: black;

    button,
    select {
        background: linear-gradient(20deg, #66a9bdd8 20%, rgb(243, 240, 88));
        border-color: #06283D;
        margin: 5px;
    }

    input {
        border-color: #06283D;
        background: #06283D;
        color: white;
        padding: 10px;
    }
}

.hot-sunny {
    background: linear-gradient(70deg, orange 70%, red);
}

.sunny-rainy {}

.hot-rainy,
.hot-cloudy {
    background: linear-gradient(30deg, rgb(211, 101, 101) 70%, rgb(90, 132, 167), #b0cfe9);
    color: white;

    button,
    select {
        background: linear-gradient(20deg, #8ebadd 20%, rgb(57, 144, 216), rgb(211, 101, 101));
        border-color: white;
        margin: 5px;
    }

    input {
        border-color: white;
        background: #06283D;
        color: white;
        padding: 10px;
    }

    .card-div {
        background-color: var(--card-background-dark);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.sunny-cloudy {}

.cloudy {
    background: linear-gradient(30deg, rgb(90, 132, 167) 70%, #b0cfe9);
    color: white;

    button,
    select {
        background: linear-gradient(20deg, #8ebadd 20%, rgb(57, 144, 216));
        border-color: #06283D;
        margin: 5px;
    }

    input {
        border-color: #06283D;
        background: #06283D;
        opacity: 0.8;
        color: white;
        padding: 10px;
    }

    .card-div {
        background-color: var(--card-background-dark);
    }

}

.snowy {
    background: linear-gradient(30deg, #abceeb 70%, rgb(231, 237, 241));
    color: white;

    button,
    select {
        background: linear-gradient(20deg, rgb(231, 237, 241) 20%, #abceeb);
        border-color: #06283D;
        margin: 5px;
    }

    input {
        border-color: #ffffff;
        background: #06283D;
        color: white;
        padding: 10px;
    }

    .daily-f-card-div {
        background: linear-gradient(30deg, #abceeb 70%, rgb(231, 237, 241));
    }
}

.rainy-cloudy,
.stormy {
    background: linear-gradient(70deg, #577496 70%, rgb(138, 176, 207));
    color: white;

    button,
    select {
        background: linear-gradient(10deg, rgb(138, 176, 207) 20%, #476180);
        border-color: #5b7a9e;
        margin: 5px;
    }

    input {
        border-color: #5b7a9e;
        background: #06283D;
        opacity: 0.5;
        color: white;
        padding: 10px;
    }

    .card-div {
        background-color: var(--card-background-dark);
    }
}

.night {
    background: linear-gradient(60deg, rgb(1, 15, 39) 60%, #021f43);
    color: white;

    button,
    select {
        color: white;
        background: linear-gradient(10deg, rgb(2, 29, 52), #042f64, #407ec9);
        border-color: #134885;
        box-shadow: 0px 0px 50px 0px #ffffff22;
        margin: 5px;
    }

    select option {
        background-color: transparent;
        color: white;
    }
    option:hover {
        background: #058572;
        color: white;
    }
    select:hover {
        background-color: #021f43;
        color: white;
    }

    input {
        border-color: #134885;
        background: #25516d;
        opacity: 0.5;
        color: white;
        padding: 10px;
    }

    .card-div {
        background-color: var(--card-background-dark);
        box-shadow: 0px 0px 50px 0px #ffffff22;
    }

    .daily-f-card-div {
        background: linear-gradient(10deg, rgb(2, 29, 52), #042f64, #12498b);
    }

}


@media (min-width: 480px) {
    /*Layout or tablets*/

}

@media (min-width: 1100px) {

    /*Layout for desktops*/

    html,
    div,
    p,
    button,
    input,
    select {
        font-size: calc(var(--basic-font-size) * 0.8);
    }

    div,
    section,
    aside {

        font-size: calc(var(--basic-font-size) * 0.5);
    }

    header {
        max-width: 3000px;
    }

    header .center-card {
        max-width: 2000px;
        align-items: center;
        font-size: calc(var(--basic-font-size) * 0.5);
    }

    .card-div {
        margin: var(--main-margin);
    }

    .row {
        max-width: 2000px;
    }

}